parameters:

services:

    dbu_conference.controller.schedule:
        class: Dbu\ConferenceBundle\Controller\ScheduleController
        arguments:
            - @doctrine_phpcr.odm.document_manager
        calls:
            - [ setContainer, [ @service_container ] ]

    dbu_conference.twig.extension:
        class: Dbu\ConferenceBundle\Twig\Extension\ConferenceExtension
        arguments:
            - @router
            - %dbu_conference.speakers_path%
        tags:
            - { name: twig.extension }
