{% extends "::base.html.twig" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>{{ "site.subscribe"|trans }}</h1>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
