<div class="pure-g-r">
    <div class="pure-u">
        <div class="l-box">
            {{ presentation.start|date('H:i') }}<br/>
            <a class="presentation-link" href="{{ path(presentation) }}">{{ presentation.title }}</a><br/>
            {% include 'DbuConferenceBundle:Speaker:list_compact.html.twig' with {
                'speakers': presentation.speakers
            } %}
        </div>
    </div>
</div>
