.presentation-info {
    font-weight: bold;
    margin-bottom: 1em;
}

.track {
    text-align: center;
}

.presentation-link {
    text-decoration: none;
    font-weight: bold;
}

.speaker .portrait {
    margin: 1.4em 0.7em 0 0;
    float: left;
}

.speaker h3 {
    clear: both;
}

.header .pure-menu li.current a, .pure-menu li.current-anchestor a {
    color: green;
    font-weight: bold;
}

.header .pure-menu li a:hover, .pure-menu li a:hover {
    color: green;
}

.sidebar {
    margin-top: 160px;
}
.sidebar h2 {
    font-size: 20px;
}
.sidebar ul {
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.2em;
    list-style-type: none;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar li .date {
    display: block;
    font-style: italic;
}
.sidebar .presentation-link {
    font-weight: normal;
}

.pure-menu > ul.user-control {
    float: right;
}

.pure-menu > ul.locale-chooser {
    float: right;
    padding-top: 4px;
    padding-right: 20px;
}
.pure-menu > ul.locale-chooser a {
    display: inline;
    padding: 0 10px 0 0;
}

.pure-menu > ul.locale-chooser li.locale-current a {
    color: black;
    font-weight: bold;
}

.error {
    padding: 0.5em 1.5em;
    margin: 0 0 1.5em 0;
    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 2px;
    transition: box-shadow 0.1s linear 0s;
    background-color: red;
}

body.admin {
    padding-top: 62px;
}
body.admin .pure-menu-fixed {
    padding-top: 62px;
}

.create-ui-toggle {
    -moz-box-sizing: content-box;
}

.flash-notice {
    margin: 5em 5em -5em 5em;
    padding: 1em;
    clear:		both;
    border: thin solid #afa;
    background: #efe;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
